.main-block {
  text-align: center;

  &>p {
    @extend .lead;
  }
}
.content-block {
  padding-top: 40px;
  padding-bottom: 40px;

  h2 {
    margin-bottom: 1.5rem;
  }
}
.sidebar-block {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
}
.home-main-content {
  margin-bottom: 40px;
}
.nav .nav-link.active{
   font-weight: bold;
}
.itm-map{
   width: 100%;
   height: 400px;
   background-color: #efefef;
}

.interstitial {
  padding: 40px 0;
  margin-top: 40px;
  background-color: #f3f3f3;
  text-align: center;
}

.form-control.error {
    border-color: #a00;
}
label.error {
    font-size: 85%;
    color: #a00;
}