{{ define "title" }}
   {{ .Title | markdownify }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="row">
   <div class="col-sm-12">
      {{ .Content }}
   </div>
</div>
<div class="list-items">
   {{ $promosUrl := .Site.Params.promotionsURL }}
   {{ $deals := getJSON $promosUrl }}
   {{ range first 20 (where (sort $deals "id" "desc") "isActive" true) }}
      {{ partial "autoDeal" (dict "deal" . "bookingEngineURL" $.Site.Params.bookingEngineURL "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket "showHotel" $.Site.Params.promotionsShowHotel) }}
   {{ end }}
</div>
{{ end }}
