{{ define "title" }}
   {{ .Title | markdownify }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="list-items">
   {{ $roomsUrl := .Site.Params.roomsURL }}
   {{ $rooms := getJSON $roomsUrl }}
   {{ range first 10 (where (sort $rooms "id" "desc") "isActive" true) }}
      {{ partial "autoRoom" (dict "room" . "bookingEngineURL" $.Site.Params.bookingEngineURL "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket) }}
   {{ end }}
</div>
<div class="row">
   <div class="col-sm-12">
      {{ .Content }}
   </div>
</div>

{{ end }}
