{{ define "title" }}
   {{ .Title | markdownify }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="row">
   <div class="col-sm-12">
      {{ .Content }}
   </div>
</div>
<ul class="list-unstyled list-items">
   {{ $promosUrl := .Site.Params.promotionsURL }}
   {{ $deals := getJSON $promosUrl }}
   {{ range first 5 $deals }}
      {{ if .isActive }}
         {{ partial "autoDeal" (dict "deal" . "bookingEngineURL" $.Site.Params.bookingEngineURL "imageBase" $.Site.Params.imageBase "imageBucket" $.Site.Params.imageBucket) }}
      {{ end }}
   {{ end }}
</ul>

{{ end }}
