<!DOCTYPE html>
<html lang="{{ .Lang }}">

   <head>
      {{ partial "head-meta.html" . }}

      {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
      {{ end }}

      <link rel="canonical" href="{{ .Permalink }}">

      {{ if .Params.meta_title }}
      <title>{{ .Params.meta_title }}</title>
      {{ else }}
      <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
      {{ end }}

      {{ "<!-- combined, minified CSS -->" | safeHTML }}


      <style>{{ partial "build.css" | safeCSS }}</style>
      <style>{{ readFile "/static/css/custom.css" | safeCSS }}</style>

      {{ template "_internal/google_analytics_async.html" . }}
      
      {{ partial "googleTagManagerHeader.html" . }}

      {{ partial "head-custom.html" . }}
   </head>

   <body>
         {{ partial "googleTagManagerBody.html" . }}
      <header>
         {{ partial "header.html" . }}

         {{ partial "navbar.html" . }}
      </header>

      {{if isset .Params "slider" }}
         <div id="itm-ap-slider" class="jumbotron carousel slide" data-ride="carousel">
            {{ $base := .Params.slider.base }}
            {{ $items := split .Params.slider.pics ","}}
            {{ $len := (len $items) }}
            <div class="carousel-inner">
               {{ range $index, $element := $items }}
               <div class="carousel-item{{ if (eq $index 0) }} active{{ end }}" style="background-image: url({{ print $base "q_auto:low,f_auto,w_1200,h_600,c_fill/" $element }});">
               </div>
               {{ end }}
            </div>

            {{ partial "banner-content.html" . }}

         </div>
      {{ else }}
         <div class="jumbotron {{if isset .Params "featured_image" }}page-banner{{end}}"
         {{ if isset .Params "featured_image" }}style="background-image: url({{ .Params.featured_image.base}}q_auto:low,f_auto,w_1200,h_600,c_fill/{{ .Params.featured_image.path }});" {{ end }}>

            {{ partial "banner-content.html" . }}

         </div>
      {{ end }}

      <div class="container">

         {{ block "main" . }}
         <!-- The part of the page that begins to differ between templates -->
         {{ end }}

      </div>
      {{ partial "footer.html" . }}

      <script async src="{{.Site.BaseURL}}js/app.js"></script>
      <script async src="{{.Site.BaseURL}}js/custom.js" ></script>
      {{ if ne .Params.hideBooker true }}
      {{ with .Site.Params.bookerURL }}<script async src="{{.}}"></script>{{ end }}
      {{ end }}


   </body>
</html>
