<!DOCTYPE html>
<html lang="{{ .Lang }}">

   <head>
      {{ partial "head-meta.html" . }}

      {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
      {{ end }}

      <link rel="canonical" href="{{ .Permalink }}">

      {{ if .Site.Params.bookingEngineURL }}
      <link rel="prefetch" href="{{ .Site.Params.bookingEngineURL }}">
      {{ end }}

      {{ if .Params.meta_title }}
      <title>{{ .Params.meta_title }}</title>
      {{ else }}
      <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
      {{ end }}

      {{ "<!-- combined, minified CSS -->" | safeHTML }}


      <style>{{ partial "build.css" | safeCSS }}</style>
      {{if isset .Params "slider" }}
         {{ $base := .Params.slider.base }}
         {{ $items := split .Params.slider.pics ","}}
         {{ $len := (len $items) }}
      <style>
         {{ range $index, $element := $items }}
      .slider_bg_{{$index}}{background-image: url({{ print $base "f_auto,w_1200,h_600,c_fill/" $element }});}
      @media (max-width: 425px){.slider_bg_{{$index}}{background-image: url({{ print $base "f_auto,w_425,c_fill/" $element }});}}
         {{ end }}
      </style>
      {{ else }}
         {{ $c_base := .Params.featured_image.base }}
         {{ $c_element := .Params.featured_image.path }}
      <style>
         .slider_bg_featured{background-image: url({{  print $c_base "f_auto,w_1200,h_600,c_fill/" $c_element }});}
         @media (max-width: 425px){.slider_bg_featured{background-image: url({{ print $c_base "f_auto,w_425,c_fill/" $c_element }});}}
      </style>
      {{ end }}

      {{ template "_internal/google_analytics_async.html" . }}
      
      {{ partial "googleTagManagerHeader.html" . }}

      {{ partial "head-custom.html" . }}
   </head>

   <body>
         {{ partial "googleTagManagerBody.html" . }}
      <header>
         {{ partial "header.html" . }}

         {{ partial "navbar.html" . }}
      </header>

      {{if isset .Params "slider" }}
         <div id="itm-ap-slider" class="jumbotron carousel slide" data-ride="carousel">
            {{ $items := split .Params.slider.pics ","}}
            {{ $len := (len $items) }}
            <div class="carousel-inner">
               {{ range $index, $element := $items }}
               <div class="carousel-item{{ if (eq $index 0) }} active{{ end }} slider_bg_{{$index}}">
               </div>
               {{ end }}
            </div>

            {{ partial "banner-content.html" . }}

         </div>
      {{ else }}
         <div class="jumbotron {{if isset .Params "featured_image" }}page-banner{{end}}"
         {{ if isset .Params "featured_image" }}style="background-image: url({{ .Params.featured_image.base}}f_auto,w_1200,h_600,c_fill/{{ .Params.featured_image.path }});" {{ end }}>

            {{ partial "banner-content.html" . }}

         </div>
      {{ end }}

      <div class="container">

         {{ block "main" . }}
         <!-- The part of the page that begins to differ between templates -->
         {{ end }}

      </div>
      {{ partial "footer.html" . }}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script async src="{{.Site.BaseURL}}js/app.js"></script>
      <script async src="{{.Site.BaseURL}}js/custom.js" ></script>
      {{ if ne .Params.hideBooker true }}
      {{ with .Site.Params.bookerURL }}<script async src="{{.}}"></script>{{ end }}
      {{ end }}


   </body>
</html>
