{{ $base := .imageBase }}
{{ $bucket := .imageBucket }}
{{ $bookingEngineURL := .bookingEngineURL}}
<li class="listItem listItem-deal">
   {{ with .deal}}
   <div class="listItem-content">
      {{if .photos }}
      {{ $image := index .photos 0 }}
      <div class="listItem-pic" style="background-image: url( {{ print $base "q_auto:good,f_auto,h_400,c_fill/" $bucket "/" $image.path }})">
         {{ if and (.discountPercentage) (gt .discountPercentage 0) }}
         <p class="discount-amount">
            {{ mul .discountPercentage 100 }}%
         </p>
         {{ end }}
      </div>
      {{else}}
      <div class="listItem-pic listItem-pic--empty">
            {{ if and (.discountPercentage) (gt .discountPercentage 0) }}
            <p class="discount-amount">
               {{ mul .discountPercentage 100 }}%
            </p>
            {{ end }}
         </div>
      {{end}}
      <div class="listItem-info">
         {{ if .title}}
         <h2 class="listItem-title">{{ .title | markdownify }}</h2>
         {{else}}
         <h2 class="listItem-title">{{ i18n "promotion" }}</h2>
         {{end}}
         <div class="listItem-shortDesc">
            <div class="deal-includes">
               <ul class="list-unstyled">
                  {{ range .importantDates }}
                     <li>{{ . }}</li>
                  {{ end }}
               </ul>
               <p><strong>{{ i18n "dealIncludes"}}</strong></p>
               <ul>
                  {{ range .includesDescription }}
                  <li>{{ . }}</li>
                  {{ end }}
               </ul>
               <div class="deal-conditions dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <small>{{ i18n "dealTerms"}}</small></a>
                  <div class="dropdown-menu">
                     <ul>
                        {{ range .termsAndConditions}}
                        <li>{{ . }}</li>
                        {{ end }}
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="listItem-actions">
            <a href="{{ $bookingEngineURL }}" class="btn btn-primary">{{ i18n "bookNow"}}</a>
         </div>
      </div>
   </div>
   {{end}}
</li>