<footer class="footer">
  <div class="container">
  {{ if .Site.Menus.footer }}
  <ul class="nav nav-footer">
  {{ range .Site.Menus.footer }}
    <li class="nav-item">
       <a class="nav-link" href="{{.URL | absURL }}">{{ .Name }}</a>
    </li>
  {{ end }}
  </ul>
  {{ end }}

   <p class="hotel-info">
   	{{ with .Site.Params.hotelAddress | markdownify }}<span class="hotel-address">{{.}}</span><br>{{ end }}
   	{{ with .Site.Params.hotelPhone }}<span class="hotel-phone">{{.}}</span><br>{{ end }}
   	{{ with .Site.Params.hotelEmail }}<a href="mailto:{{.}}" class="hotel-email">{{.}}</a>{{ end }}
   </p>

   {{ if .Site.Params.Social }}
   <ul class="clearfix social-media">
   {{ range .Site.Params.Social }}
    <li><a href="{{ .url }}"><span class="fa fa-{{ .icon }}"></span></a></li>
   {{ end }}
   </ul>
   {{ end }}
   
   <p class="copyright">
      {{ if .Site.Copyright }}
         {{ .Site.Copyright | markdownify }}
      {{ else }}
         Revenatium {{.Date.Year}}
      {{ end }}
   </p>
  </div>
</footer>
