<div>
   <nav class="nav blog-nav">
   <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}</a>
   {{- $currentURL := .URL | absLangURL -}}
   {{ if .Site.Params.custom_navbar }}
      {{ range .Site.Menus.navbar }}
         {{ $menuURL := .URL | absLangURL }}
   <a class="nav-link{{ if eq $menuURL $currentURL }} active{{ end }}" href="{{.URL | absURL }}">{{ .Name }}</a>
      {{ end }}
   {{ else }}
      {{ range where .Site.RegularPages "Type" "==" "page"}}
         {{ $permalinkURL := .Permalink | absLangURL }}
   <a class="nav-link{{ if eq $permalinkURL $currentURL }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
   {{ end }}
   </nav>
</div>
