<nav class="navbar navbar-toggleable-md">
   <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav mr-auto">
            {{- $currentURL := .URL | absLangURL -}}
            {{ if .Site.Params.custom_navbar }}
               {{ range .Site.Menus.main }}
                  {{ $menuURL := .URL | absLangURL }}
            <li class="nav-item{{ if eq $menuURL $currentURL }} active{{ end }}">
               <a class="nav-link" href="{{.URL | absURL }}">{{ .Name }}</a>
            </li>
               {{ end }}
            {{ else }}
            <li class="nav-item{{ if .IsHome }} active{{ end }}">
               {{ if eq .Lang "en" }}
               <a class="nav-link" href="/en">
               {{ else }}
               <a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}">
               {{ end }}
                  {{ i18n "home" }}
               </a>
            </li>
               {{ range where (where .Site.RegularPages "Type" "==" "page") ".Params.weight" ">=" 1 }}
                  {{ $permalinkURL := .Permalink | absLangURL }}
            <li class="nav-item{{ if eq $permalinkURL $currentURL }} active{{ end }}">
               <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
               {{ end }}
            {{ end }}
         </ul>
      </div>
      <a class="btn btn-primary float-right" id="toggleBooker" href="#">
         {{ i18n "bookNow"}}
      </a>
   </div>
</nav>

<div class="floating-widget d-none" id="floatingWidget">
    <div class="floating-widget-container">
       <div class="container">
          <div id="rvm-booker-container" class="itm-booker itm-booker-horizontal"></div>
       </div>
    </div>
</div>