<nav class="navbar navbar-toggleable-md">
   <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" href="{{ .Site.BaseURL | absLangURL }}">
      {{ if .Site.Params.logoURL }}
         <img src="{{ .Site.Params.logoURL }}" alt="{{ .Site.Title | safeHTML }}">
      {{ else }}
         {{ .Site.Title | safeHTML }}
      {{ end }}
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
            {{- $currentURL := .URL | absLangURL -}}
            {{ if .Site.Params.custom_navbar }}
               {{ range .Site.Menus.main }}
                  {{ $menuURL := .URL | absLangURL }}
            <li class="nav-item{{ if eq $menuURL $currentURL }} active{{ end }}">
               <a class="nav-link" href="{{.URL | absURL }}">{{ .Name }}</a>
            </li>
               {{ end }}
            {{ else }}
            <li class="nav-item{{ if .IsHome }} active{{ end }}">
               <a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}</a>
            </li>
               {{ range where .Site.RegularPages "Type" "==" "page"}}
                  {{ $permalinkURL := .Permalink | absLangURL }}
            <li class="nav-item{{ if eq $permalinkURL $currentURL }} active{{ end }}">
               <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
               {{ end }}
            {{ end }}
         </ul>
      </div>
   </div>
</nav>
