{{ $base := .Params.Image.base }}
{{ $path := .Params.Image.path }}
<li class="room-item">
   <div class="media">
      <img class="d-flex align-self-start mr-3" src="{{print $base "q_auto:low,f_auto,w_350,h_200,c_fill/" $path}}" />
      <div class="media-body">
         <h5 class="mt-0 mb-1">{{ .Title | markdownify }}</h5>
         <div class="room-data">
            <div class="room-data-pax"><i class="fa fa-user mr-1"></i>{{ .Params.Pax }}</div>
            <div class="room-data-bed"><i class="fa fa-bed mr-1"></i>{{ .Params.Bedding }}</div>
         </div>
         <div class="room-short-desc">
            {{ .Params.Description  | safeHTML | truncate 150 }}
         </div>
         <div>
            <a href="#" class="btn btn-primary">Reservar ahora</a>
            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#room{{.Params.Id}}">Detalles</button>
         </div>
      </div>
   </div>
   <div class="collapse" id="room{{.Params.Id}}">
      <p class="lead">{{ .Params.Description }}</p>{{ .Content }}
   </div>
</li>
