.amenities-list {
   margin-top: 0px;
   .row {
      margin-bottom: 20px;
   }
   .icon {
      font-size: 200%;
      color: #666;
      padding: 10px;
      background-color: #F0EFEA;
      border: 1px solid #D4D0BA;
      border-radius: 50%;
      float: left;
      margin-right: 10px; 
   }
   p {
      padding: 15px 0;
      margin-bottom: 0;
   }
}
