.listItem-deal {
    .deal-includes {
        &>p {
            margin-bottom: 0;
        }
        ul {
            margin-bottom: 1rem;
        }
    }
    .deal-conditions {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .dropdown-menu {
        padding-right: 1rem;
    }
    .discount-amount {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
        padding: 15px 30px;
        text-align: center;
        background-color: $brand-color;
        color: #fff;

        strong {
            font-size: 250%;
            display: block;
            font-weight: normal;
        }
    }
    .listItem-pic{
      min-height: 129px !important;
      height: 194px;
      @media (min-width: 768px) {
         height: 129px;  
      }
      @media (min-width: 992px) {
         height: 174px;  
      }
      @media (min-width: 1200px) {
         height: 208px;  
      }
      @media (max-width: 767px){
         background-size: contain;
         background-repeat: no-repeat;
      }
   }
   .listItem-pic--empty:before{
      content: "\F02B";
      font-family: FontAwesome;
      text-align: center;
      display: block;
      color: #aaa;
      font-size: 140px;
      @media (min-width: 768px) {
         font-size: 90px;  
      }
      @media (min-width: 992px) {
         font-size: 125px;  
      }
      @media (min-width: 1200px) {
         font-size: 150px;  
      }
   }
}
.home-deal .listItem-deal {
    width: 100%;
}
