.footer {
	font-size: 90%;
   padding: 15px 0;
   background-color: $footer-bgcolor;
   color: $footer-txtcolor;
   padding-top: 40px;
   padding-bottom: 40px;
   margin-top: 40px;
   text-align: center;

   a {
   color: $footer-linkcolor;
   }
}

.social-media a{
   font-size: 160%;
   margin-right: 1rem;
   background-color: $footer-icon-bgcolor;
   color: $footer-icon-color;
   width: 2em;
   line-height: 2em;
   display: block;
   border-radius: 5px;
}

.nav-footer {
    margin-bottom: 20px;
    &>li{
      display: block;
   }
    &>li>a {
        display: block;
        padding: .5em 1em .5em 0;
    }
    @media (min-width: 768px){
      &>li{
         display: inline-block;
      }
      &>li>a {
         border-left: 1px solid rgba(255,255,255,0.3);
         padding: .5em 1em;
      }
      &>li:first-child>a {
          padding-left: 0;
          border-left: none;
      }
   }
}
