.photo-gallery {
    a {
        height: 150px;
        display: block;
        float: left;
        border: 2px solid #fff;
        position: relative;
        overflow: hidden;
        width: 25%;

        img {
            width: 100%;
        }
    }
    a:first-child {
        float: left;
        height: 300px;
        width: 50%;
    }
}