.home-amenity {
    padding: 150px 15px 15px 15px;
    position: relative;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-decoration: none;
    display: block;

    &:hover {
        text-decoration: none;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }

    h5, p {
        position: relative;
    }
    p {
        margin-bottom: 0;
    }
}