.home-amenity {
    padding: 180px 0 0 0;
    margin-bottom: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
    color: #333;
    text-decoration: none;
    display: block;

    &:hover {
        text-decoration: none;
        color: #333;
    }

    h5, p {
        position: relative;
    }
    p {
        margin-bottom: 0;
    }
    .amenity-container {
      background-color: #eee;
      display: block;
      padding: 20px;
      margin-top: 3em;
  }
}
.btn-list-amenities {
   margin-top: 20px;
   .btn {
      cursor: default !important;
      text-align: left;
      margin-bottom: 20px;
      vertical-align: middle;
      color: #444;
      background-color: #fff;
      border-color: $brand-color-secondary;
      .icon {
         font-size: 1.6em;
         vertical-align: inherit;
      }
   }
    
}

.page-item {
   background-color: #eee;
   margin-bottom: 20px;
 }
 .page-item-img {
   background-position: center;
   background-size: cover;
   min-height: 200px;
 }
 .page-item img {
   max-width: calc(100% + 15px);
   margin-left: -15px;
   margin-right: -15px;
 }
 .page-item h2 {
   margin-top: 20px; 
   margin-bottom: 15px;
 }
 .page-item .label {
   margin-bottom: 15px;
 }