.home-amenity {
    padding: 180px 0 0 0;
    margin-bottom: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
    color: #333;
    text-decoration: none;
    display: block;

    &:hover {
        text-decoration: none;
        color: #333;
    }

    h5, p {
        position: relative;
    }
    p {
        margin-bottom: 0;
    }
    .amenity-container {
      background-color: #eee;
      display: block;
      padding: 20px;
      margin-top: 3em;
  }
}
.btn-list-amenities {
   margin-top: 20px;
   .btn{
      text-align: left;
      margin-bottom: 20px;
      vertical-align: middle;
      background-color: #FFF;
      color: #444;
      .icon {
         font-size: 1.6em;
         vertical-align: middle;
      }
   }
}