/* ICONS */

@font-face {
   font-family: 'icons';
   src:  url('#{$fa-font-path}/icons.eot?v=#{$itm-font-version}');
   src:  url('#{$fa-font-path}/icons.eot?v=#{$itm-font-version}#iefix') format('embedded-opentype'),
     url('#{$fa-font-path}/icons.ttf?v=#{$itm-font-version}') format('truetype'),
     url('#{$fa-font-path}/icons.woff?v=#{$itm-font-version}') format('woff'),
     url('#{$fa-font-path}/icons.svg?v=#{$itm-font-version}#icons') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
 .icon {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icons' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
 
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 .icon-microwave:before {
   content: "\e90f";
 }
 .icon-couch:before {
   content: "\e910";
 }
 .icon-fridge:before {
   content: "\e90d";
 }
 .icon-fan:before {
   content: "\e90e";
 }
 .icon-star:before {
   content: "\e90a";
 }
 .icon-camera:before {
   content: "\e90b";
 }
 .icon-beach:before {
   content: "\e904";
 }
 .icon-slider:before {
   content: "\e905";
 }
 .icon-playground:before {
   content: "\e906";
 }
 .icon-wave:before {
   content: "\e907";
 }
 .icon-toboggan:before {
   content: "\e908";
 }
 .icon-pool-2:before {
   content: "\e909";
 }
 .icon-weather:before {
   content: "\e903";
 }
 .icon-taxi:before {
   content: "\e902";
 }
 .icon-desk:before {
   content: "\e900";
 }
 .icon-balcony:before {
   content: "\e901";
 }
 .icon-safebox:before {
   content: "\f12e";
 }
 .icon-food:before {
   content: "\f111";
 }
 .icon-laundry:before {
   content: "\f120";
 }
 .icon-ac:before {
   content: "\f12c";
 }
 .icon-lugagge:before {
   content: "\f10f";
 }
 .icon-frontdesk:before {
   content: "\f112";
 }
 .icon-bar:before {
   content: "\f10d";
 }
 .icon-slippers:before {
   content: "\f11c";
 }
 .icon-door-hanger:before {
   content: "\f131";
 }
 .icon-pool:before {
   content: "\f125";
 }
 .icon-coffee:before {
   content: "\f10c";
 }
 .icon-iron:before {
   content: "\f108";
 }
 .icon-gym:before {
   content: "\f129";
 }
 .icon-sports:before {
   content: "\f11b";
 }
 .icon-hairdryer:before {
   content: "\f127";
 }
 .icon-tv:before {
   content: "\f106";
 }
 .icon-bathtub:before {
   content: "\f12d";
 }
 .icon-clock:before {
   content: "\f128";
 }
 .icon-towel:before {
   content: "\f118";
 }
 .icon-vacuum:before {
   content: "\f11d";
 }
 .icon-room-service:before {
   content: "\f12f";
 }
 .icon-coffee-maker:before {
   content: "\f100";
 }
 .icon-cctv:before {
   content: "\f101";
 }
 .icon-menu:before {
   content: "\f13d";
 }
 .icon-parking:before {
   content: "\f142";
 }
 .icon-fire-extinguisher:before {
   content: "\f11f";
 }
 .icon-room-service-2:before {
   content: "\f137";
 }
 .icon-hanger:before {
   content: "\f122";
 }
 .icon-exchange:before {
   content: "\f11e";
 }
 .icon-food-2:before {
   content: "\f145";
 }
 .icon-bell:before {
   content: "\f109";
 }
 .icon-elevator:before {
   content: "\f119";
 }
 .icon-key:before {
   content: "\f147";
 }
 .icon-bed:before {
   content: "\f107";
 }
 .icon-bathrobe:before {
   content: "\f102";
 }
 .icon-hotel:before {
   content: "\f126";
 }
 .icon-wifi:before {
   content: "\f159";
 }
 .icon-front-desk-2:before {
   content: "\f144";
 }
 .icon-lotus:before {
   content: "\e904";
 }
 .icon-location:before {
   content: "\f130";
 }