.listItem {
    margin: 20px 0 40px 0;
    background-color: #f9f9f9;

    .listItem-info {
    	padding-top: 20px;
    	padding-bottom: 20px;
    }

    .listItem-details {
    	text-align: center;
    	border: 1px solid #f9f9f9;
    	background-color: #fff;

    	&>div {
			padding: 20px;
    	}
    }
}
.listItem-pic {
   overflow: hidden;
   position: relative;
   background-size: cover;
   background-color: #eee;
   background-position: center center;
   min-height: 194px !important;
}
.listItem-shortDesc {
    margin: 10px 0;
}
.listItem-data {
    font-size: 90%;
    color: #888;
    margin: 10px 0;

    &>div {
        display: inline-block;
        margin-right: 1em;
    }
}

.list-items .listItem {
    .listItem-info {
        @extend .col-md-8;
    }
    .listItem-pic {
        @extend .col-md-4;
    }
    .listItem-details {
        @extend .col-md-12;
    }
}

.list-single .listItem {
    .listItem-info {
        padding: 20px;
        .btn-primary {
            display: block;
        }
    }
    .listItem-pic {
      width: 100%;
      height: 194px;
      @media (min-width: 768px) {
         height: 152px;  
      }
      @media (min-width: 992px) {
         height: 208px;  
      }
      @media (min-width: 1200px) {
         height: 250px;  
      }
      
    }
}

.listItem-subtitle{
   color: #999;
   font-size: 65%;
   font-weight: normal;
}