.jumbotron {
  background-color: transparent;
  text-align: left;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0.5rem;
  padding-top: 1rem;

  .carousel-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
  .carousel-item {
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .banner-content {
    z-index: 1;
    position: relative;
    &.no-bg {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: -2rem;
    }
    &.no-tagline h1 {
      font-size: 36px;
    }
  }

  h1 {
    font-size: 22px;
  }

  .lead{
   @if variable-exists(title-font-family){
      font-family: $title-font-family, sans-serif;
   }
   font-weight: 400;
   font-size: 36px;
   line-height: 36px;
   margin-top: 15px;
  }

  .main-block>p {
      font-size: 28px;
      line-height: 28px;
  }

  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }

  .itm-promotion-code-modal-link span {
    color: $brand-color;
  }
}
.jumbotron.slide,
.page-banner {
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  padding-bottom: 2rem;
  padding-top: 2rem;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.3);
  }

  h1,
  .lead {
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    position: relative;
  }

  .itm-promotion-code-modal-link span {
    color: #fff;
  }
}

.widget-container {
  min-height: 203px;
  @media(min-width: 768px){
     min-height: 148px;
  }
  background-color: transparent;
  padding-top: 20px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.is-sticky>.widget-container {
    background-color: #f3f3f3;
    z-index: 100 !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    .itm-promotion-code-modal-link span {
      color: $brand-color;
    }
}

@media (min-width: 576px) {
   .jumbotron {
      padding-bottom: 1rem;
      padding-top: 2rem;

      .banner-content {
         padding-top: 13rem;
         padding-bottom: 0;
      }
      .banner-info {
         max-width: 58.333333%;
      }

   }

   .jumbotron.slide,
   .page-banner {
      padding-bottom: 2rem;
      padding-top: 2rem;
   }
}
