.jumbotron {
  background-color: #f3f3f3;
  text-align: center;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0.5rem;
  padding-top: 1rem;

  .carousel-inner {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 0;
  }
  .carousel-item {
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .banner-content {
    z-index: 2;
    position: relative;
  }

  h1 {
    font-size: 22px;
  }

  .lead, 
  .main-block>p {
      font-size: 28px;
      line-height: 28px;
  }

  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }

  .itm-promotion-code-modal-link span {
    color: $brand-color;
  }
}
.jumbotron.slide,
.page-banner {
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  padding-bottom: 2rem;
  padding-top: 2rem;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.3);
  }

  h1,
  .lead {
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    position: relative;
  }

  .itm-promotion-code-modal-link span {
    color: #fff;
  }
}

.widget-container {
  background-color: transparent;
    padding-top: 20px;
  -webkit-transition: background-color 0.3s; /* Safari */
  transition: background-color 0.3s;
}
.is-sticky>.widget-container {
    background-color: #f3f3f3;
    z-index: 100 !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.3); 

    .itm-promotion-code-modal-link span {
      color: $brand-color;
    }
}

@media (min-width: 576px) {
  .jumbotron {
    padding-bottom: 1rem;
    padding-top: 2rem;

    .lead, 
    .main-block>p {
      font-size: 44px;
      line-height: 50px;
    }

  }

  .jumbotron.slide,
  .page-banner {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}