.top-bar {
	font-size: 90%;
    padding: 15px 0;
    background-color: $top-bar-bgcolor;
    color: $top-bar-txtcolor;

    a {
    	color: $top-bar-txtcolor;
    }

    .hotel-phone {
    	margin-right: 1em;
    }
}