<div class="row">
   <div class="col-sm-12 text-center">
      <h2>{{ i18n "location"}}</h2>
      {{ .Inner }}
      <div id="map" class="itm-map mt-4"></div>
   </div>
</div>
<script>
function initMap() {
   var uluru = { lat: parseFloat({{ .Get "lat" }}), lng: parseFloat({{ .Get "lng" }}) };
   var map = new google.maps.Map(document.getElementById('map'), {
      zoom: parseInt({{ .Get "zoom" }}),
      center: uluru
   });
   var marker = new google.maps.Marker({
      position: uluru,
      map: map
   });
}
</script>
<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.maps_api_key }}&callback=initMap"></script>-->
